/*
┌─┐┬┌┬┐┌─┐┬  ┌─┐
└─┐││││├─┘│  ├┤ 
└─┘┴┴ ┴┴  ┴─┘└─┘
┌─┐┌─┐─┐ ┬      
├┤ │ │┌┴┬┘      
└  └─┘┴ └─

by Miguel Avila & SIMULATAN

*/

/*

┌─┐┌─┐┌┐┌┌─┐┬┌─┐┬ ┬┬─┐┌─┐┌┬┐┬┌─┐┌┐┌
│  │ ││││├┤ ││ ┬│ │├┬┘├─┤ │ ││ ││││
└─┘└─┘┘└┘└  ┴└─┘└─┘┴└─┴ ┴ ┴ ┴└─┘┘└┘
*/

:root {
  --sfwindow: #282a36;
  --sfsecondary: #44475a;
  --tab-min-height: 15px!important;
  --urlbar-min-height: 10px!important;
  --urlbar-container-height: var(--urlbar-min-height) !important;
  --toolbarbutton-inner-padding: 4px!important;
  --urlbar-icon-padding: 2px!important;
  --ROOT-urlbar-height: var(--urlbar-container-height);
  --urlbar-height: var(--ROOT-urlbar-height) !important;
  --urlbar-container-height: var(--urlbar-height) !important;
  --urlbar-toolbar-height: var(--urlbar-height) !important;
  --inline-tab-padding: 5px !important;
  /* horizontal line between tabs section and toolbar section */
  --tabs-navbar-separator-style: none !important;
  /* border of URL bar */
  --focus-outline: 0 !important;
  --focus-outline-inset: 0 !important;
}

/* Urlbar View */

/*─────────────────────────────*/
/* Comment this section if you */
/* want to show the URL Bar    */
/*─────────────────────────────*/

/*
.urlbarView {
  display: none !important;
}
*/

#urlbar-container, #urlbar {
  --urlbar-height: var(--ROOT-urlbar-height) !important;
  --urlbar-container-height: var(--urlbar-height) !important;
  padding: 0;
}

.tab-text {
  font-size: 90%;
}

/*─────────────────────────────*/

/*
┌─┐┌─┐┬  ┌─┐┬─┐┌─┐
│  │ ││  │ │├┬┘└─┐
└─┘└─┘┴─┘└─┘┴└─└─┘
*/

/* Tabs  */
#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[multiselected='true'],
#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[selected='true'] {
  background-image: none !important;
  background-color: var(--toolbar-bgcolor) !important;
}

#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
  height: 1.8em !important;
}

/* Inactive tabs color */
#navigator-toolbox {
  background-color: var(--sfwindow) !important;
}

/* Window colors  */
:root {
  --toolbar-bgcolor: var(--sfsecondary) !important;
  --toolbar-field-background-color: var(--toolbar-bgcolor) !important;
  --toolbar-field-focus-background-color: var(--toolbar-bgcolor) !important;
  --tabs-border-color: var(--sfsecondary) !important;
  --lwt-sidebar-background-color: var(--sfwindow) !important;
  --lwt-toolbar-field-focus: var(--sfsecondary) !important;
}

/* Sidebar color  */
#sidebar-box,
.sidebar-placesTree {
  background-color: var(--sfwindow) !important;
}

#tabs-newtab-button:hover > image {
  background-color: color-mix(in srgb, var(--toolbar-bgcolor) 30%, transparent) !important;
}

/*

┌┬┐┌─┐┬  ┌─┐┌┬┐┌─┐            
 ││├┤ │  ├┤  │ ├┤             
─┴┘└─┘┴─┘└─┘ ┴ └─┘            
┌─┐┌─┐┌┬┐┌─┐┌─┐┌┐┌┌─┐┌┐┌┌┬┐┌─┐
│  │ ││││├─┘│ ││││├┤ │││ │ └─┐
└─┘└─┘┴ ┴┴  └─┘┘└┘└─┘┘└┘ ┴ └─┘

*/

#page-action-buttons {
  display: none;
}


/* Tabs elements  */
.tab-close-button {
  /* make it transparent */
  opacity: 0;
  transition: 0.5s;
  border-radius: 50%;
}

.tab-close-button:hover {
  /* make it transparent */
  opacity: 100;
  transition: 0.5s;
}


.tabbrowser-tab:not([pinned]) .tab-icon-image {
  opacity: 0 !important;
  transition: 0.5s !important;
  width: 0px !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-icon-image {
  opacity: 100 !important;
  transition: 0.5s !important;
  display: inline-block !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-icon-image {
  width: 16px !important;
}

#nav-bar:not([tabs-hidden='true']) {
  box-shadow: none;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0 !important;
}

:root {
  --toolbarbutton-border-radius: 0 !important;
  /* disable margin between the extension icons */
  --toolbarbutton-outer-padding: 0 !important;
  --tab-border-radius: 0 !important;
  --tab-block-margin: 0 !important;
}

.tab-background {
  border-right: 0px solid rgba(0, 0, 0, 0) !important;
}

.tabbrowser-tab:is([visuallyselected='true'], [multiselected])
  > .tab-stack
  > .tab-background {
  box-shadow: none !important;
}

.tabbrowser-tab[last-visible-tab='true'] {
  padding-inline-end: 0 !important;
}

.tabbrowser-tab {
  --tab-label-mask-size: 1em !important;
  /* remove space between tabs */
  padding: 0 !important;
}

.tab-content[pinned], #firefox-view-button {
  /* make pinned tabs rectangular */
  padding: 0 5px !important;
}

/* leave some more space for tab text */
.tab-content:not([pinned]) {
  padding-right: calc(var(--inline-tab-padding) / 4) !important;
}

/* fix width of reload button */
toolbarbutton[id="reload-button"] {
  padding: 0;
}

/* fix position of tab close button */
.tab-close-button {
  margin-inline-end: calc(var(--inline-tab-padding) / 2) !important;
  width: 20px !important;
  height: 20px !important;
  padding: 2px !important;
}

/* fix padding of firefox view button */
:root:not([privatebrowsingmode=temporary], [firefoxviewhidden]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs,
:root[privatebrowsingmode=temporary]:not([firefoxviewhidden]) :is(
  toolbarbutton:not(#firefox-view-button),
  toolbarpaletteitem:not(#wrapper-firefox-view-button)
) + #tabbrowser-tabs {
  margin-inline-start: 0 !important;
}

/* fix background color of view button on hover */
#TabsToolbar #firefox-view-button:hover:not([open]) {
  background-color: var(--tab-hover-background-color) !important;
}

/* remove background color of image because that's already handled by the rule above */
#TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon {
  background-color: transparent !important;
}

/* remove background of icon, to be set again on another element below */
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon:-moz-lwtheme {
  background-image: none !important;
}

/* change background of whole area to the one that was previously only set to the background of the icon */
#TabsToolbar #firefox-view-button[open] {
  background-image: linear-gradient(var(--lwt-selected-tab-background-color, transparent), var(--lwt-selected-tab-background-color, transparent)), linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), var(--lwt-header-image, none) !important;
}

/* remove weird outline of firefox view icon */
#TabsToolbar #firefox-view-button[open]:not(:focus-visible) > .toolbarbutton-icon:-moz-lwtheme,
.tab-background[selected]:not([multiselected=true]):-moz-lwtheme {
  outline: none !important;
}

/* remove weird shadow of firefox view icon */
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon {
  box-shadow: none !important;
}

/* Url Bar  */
#urlbar-input-container {
  background-color: var(--sfsecondary) !important;
  border: 1px solid rgba(0, 0, 0, 0) !important;
}

#urlbar-container {
  margin-left: 0 !important;
}

#urlbar[focused] > #urlbar-background {
  box-shadow: none !important;
}

#navigator-toolbox {
  border: none !important;
}

/* Bookmarks bar  */
.bookmark-item .toolbarbutton-icon {
  display: none;
}
toolbarbutton.bookmark-item:not(.subviewbutton) {
  min-width: 1.6em;
}

/* Toolbar  */
#tracking-protection-icon-container,
#urlbar-zoom-button,
/*#star-button-box,*/
#pageActionButton,
#pageActionSeparator,
#tabs-newtab-button,
#back-button,
/*#PanelUI-button,*/,
#pageActionButton,
#forward-button,
.tab-secondary-label {
  display: none !important;
}

/* Notification Icon in URL Bar */
#notification-popup-box {
  /* The icon uses some weird calculations, instead, we can just make it be full height of the parent which has the right one */
  height: 100% !important;
}

.urlbarView-url {
  color: #dedede !important;
}

/* Disable elements  */
/*#context-navigation,*/
#context-savepage,
#context-pocket,
/*#context-sendpagetodevice,*/
#context-selectall,
#context-viewsource,
#context-inspect-a11y,
#context-sendlinktodevice,
#context-openlinkinusercontext-menu,
#context-bookmarklink,
#context-savelink,
#context-savelinktopocket,
#context-sendlinktodevice,
#context-searchselect,
#context-sendimage,
#context-print-selection {
  display: none !important;
}

/*#context_bookmarkTab,*/
#context_moveTabOptions,
/*#context_sendTabToDevice,*/
#context_reopenInContainer,
/*#context_selectAllTabs,*/
#context_closeTabOptions {
  display: none !important;
}

/* disable margin between the extension icons */
toolbar .toolbaritem-combined-buttons {
  margin-inline: 0 !important;
}

/* style hamburger menu in toolbar */
#PanelUI-menu-button {
  margin: 0 !important;
  padding: 0 !important;
  padding-right: var(--toolbarbutton-inner-padding) !important;
}

/* make profile and downloads button consistent with other toolbar items */
#fxa-toolbar-menu-button, #downloads-button {
  padding: 0 !important;
}

/* less spacing between pinned / regular tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
  margin-inline-start: 0px !important;
}

/*
┬┌─┐┌─┐┌┐┌┌─┐
││  │ ││││└─┐
┴└─┘└─┘┘└┘└─┘
Icons from Feather Icons
https://feathericons.com/

Only tested on windows, may lack support on MacOS/Linux.
If this looks weird, comment out the window buttons section.
*/



/* browser-aero.css | chrome://browser/skin/browser-aero.css */


.titlebar-min {
  /* list-style-image: url(chrome://browser/skin/window-controls/minimize-highcontrast.svg); */
  list-style-image: url(./minus.svg) !important;
  fill: white !important;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(190deg) brightness(104%) contrast(102%);
}
.titlebar-max {
  /* list-style-image: url(chrome://browser/skin/window-controls/maximize-highcontrast.svg); */
  list-style-image: url(./maximize.svg) !important;
  fill: white !important;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(190deg) brightness(104%) contrast(102%);
}
.titlebar-restore {
  /* list-style-image: url(chrome://browser/skin/window-controls/restore-highcontrast.svg); */
  list-style-image: url(./minimize.svg) !important;
  fill: white !important;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(190deg) brightness(104%) contrast(102%);
}
.titlebar-close {
  /* list-style-image: url(chrome://browser/skin/window-controls/close-highcontrast.svg); */
  list-style-image: url(./x.svg) !important;
  fill: white !important;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(190deg) brightness(104%) contrast(102%);
}
.titlebar-close:hover {
  /* list-style-image: url(chrome://browser/skin/window-controls/close-highcontrast.svg); */
  background-color: red !important;
}

/* toolbarbutton-icons.css | chrome://browser/skin/toolbarbutton-icons.css */

#reload-button {
  /* list-style-image: url("chrome://global/skin/icons/reload.svg"); */
  /* list-style-image: url(")"); */
  list-style-image: url(./refresh-ccw.svg) !important;
  fill: white !important;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(190deg) brightness(104%) contrast(102%);
}

/* identity-block.css | chrome://browser/skin/identity-block/identity-block.css */

#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon, #identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon {
  /* list-style-image: url(chrome://global/skin/icons/security.svg); */
  list-style-image: url(./lock.svg) !important;
  fill: white !important;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(190deg) brightness(104%) contrast(102%);
}

/* tabs.css | chrome://browser/skin/tabs.css */

#tabs-newtab-button, #TabsToolbar #new-tab-button {
  /* list-style-image: url(chrome://global/skin/icons/plus.svg); */
  list-style-image: url(./plus.svg) !important;
  fill: white !important;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(190deg) brightness(104%) contrast(102%);
}


#alltabs-button {
  /* list-style-image: url(chrome://global/skin/icons/arrow-down.svg); */
  list-style-image: url(./chevron-down.svg) !important;
  fill: white !important;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(190deg) brightness(104%) contrast(102%);
}


#permissions-granted-icon {
  list-style-image: url(./toggle-left.svg) !important;
  fill: white !important;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(190deg) brightness(104%) contrast(102%) !important;
}


/* URL Bar */
#urlbar-background, #searchbar {
  border: none !important;
}

/* horizontal line */
#urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner {
  border-top: none !important;
}

/* "This time, search with" */
.search-panel-one-offs-header {
  display: none !important;
}

/* background of urlbar */
#urlbar:is([focused="true"], [open]) > #urlbar-background, #searchbar:focus-within {
  background-color: var(--sfsecondary) !important;
}

/* background of highlighted urlbar elements */
.urlbarView [aria-selected=true] .urlbarView-row-inner {
  background-color: var(--sfwindow) !important;
}

/* horizontal line over the search engine icons */
.urlbarView:not([noresults]) > .search-one-offs:not([hidden]) {
  border-top: none;
}

/* top padding of the search engine icons */
#urlbar .search-one-offs:not([hidden]) {
  padding-top: 0;
}

/* disable "Firefox Suggest" and "Recent Searches" text */
.urlbarView-row[label] {
  padding-top: 0;
  margin-top: 0;
}

.urlbarView-row[label]::before {
  display: none !important;
}

.urlbarView-row[label] {
  margin-block-start: 0 !important;
}

/* disable alltabs dropdown */
#alltabs-button {
  display: none !important;
}
